<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDos</title>
</head>
<body style="padding-left: 200px;">
    <h1>Welcome to ToDos App!</h1>
    <nav>
        <a href="/catalog">See your todos</a>
        <a href="/create">Create todo</a>
        <a href="/search">Search for a todo</a>
    </nav>
</body>
</html>