<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>

<body style="padding-left: 200px;">
    <nav>
        <a href="/catalog">Catalog</a>
        <a href="/create">Create article</a>
        <a href="/search-cat">Search by category</a>
        <a href="/">Home page</a>
    </nav>
    <h1>Search by category {{title}}</h1>
    <form action="/search-cat" method="POST">
        <input type="search" placeholder="Enter article name" name="title" value="{{title}}">
        <input type="submit" value="Go!">
    </form>
    <br><br>
    {{#each results}}
    <a href="/catalog/{{title}}">{{title}}</a>
    <br>
    {{/each}}
</body>

</html>